/* un fichier css qui contient que le style de footer et header , 
relié aux toutes les pages afin d'éviter de répiter le meme code plusieurs fois  */

/*  des polices de caractères */
@import url('http://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&display=swap');              
/* donner toute la page un fond, un police de caractère, une couleur pour l'écriture */
body{
    /* background-color: black; */
    background: linear-gradient(to left,  rgb(202, 6, 112) , black 70.71%);
    font-family: 'Andika New Basic', sans-serif;
    color: white;
    font-size: 18px;
    margin: 0;
    width: 100%;
}


/* ----------------------------format mobile ---------------------- */
    /* -------------------------des class standards */
    /* enlever le style par defaut de elements de liste  */
    li{
        list-style: none;
    }
    /* enlever le style par defaut d'un lien */
    a{
        color: white;
        text-decoration: none;
    }
    /* aligner les elements en center  */
    .center{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    /* aligner horizantale  */
    .flex{
        display: flex;
    }


/* ------------------Navbar et logo  */
    /* mettre une ligne en bas de header   */
    header{
        border-bottom: 1px solid  rgba(255, 255, 255, 31%);
        font-size: 2rem;
    }
    /* donner une police de caractère speciale au titre  */
    header h2{
        margin: 10px;
        font-family: 'Post No Bills Jaffna Medium', sans-serif;
    }


/* -----cacher la navBar sur format mobile et afficher juste burgerBar */
    /* cacher la bar de navigation de format desktop et afficher que le burger bar */
    .navBar {
        display: none;
    }
    .burgerBar {
        display: flex;
    }
/* -------------- elements menu */
nav{
    font-size: 22px;
}
/* permettre d'afficher ou cacher la fenetre menu  */
.hide{
    display: none;
}
/* style de menu  */
nav ul{
    padding: 0;
    margin: 0;
    position: absolute;
    width: 60%;
    height: 78vh;
    background-color: black;
    top:11.5%;
    left: 0;
}
nav li{
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 41%);
    padding: 10px 30px 15px ;
}
/* -------------------style de logo et footer */
footer{
    margin-top: 10px;
    background-color: black;
}
/* permettre de fixer le footer */
.fixedPosition{
    position: fixed;
}
/* logo */
#brand{
    font-size: 60px;
    border-top: 1px solid  rgba(255, 255, 255, 31%);
    
    text-align: center;
    bottom: 0px;
    width: 100%;
    margin: 0;
    background-color: black;  
}
.logo{
    font-family: 'Post No Bills Jaffna Medium', sans-serif;
}
/* ------------cacher les listes sur format mobile */
#contactReSociaux{
    display:none;
}
h3{
    margin: 10px;
    font-size: 2rem;
}

/* ------------------------------format desktop--------------- */
@media (min-width:700px){
    /* ----------------footer */
#brand{
    position: relative;
}
#contactReSociaux{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#reSociaux{
    font-size: 30px;
    margin: 10px 0;
}
footer{
    padding-bottom: 15px;  
}

/* ---------------------------- Header*/
.burgerBar{
    display: none;
}
.navBar{
    display: flex;
    padding: 15px 0;
    background-color: black;
}
.navBar h3{
    flex: 1;
    text-align: center;
}
#navItems{
    flex: 2;
    font-size: 18px;
}
}
/* le bouton de darkmode  */
.bouton{
    position: absolute;
    left:-10px;
    top: -30%;
}
.bouton::before{
    padding: 10px;
     border-radius: 50%;
    background-color: rgb(245, 188, 188); 

}
.left{
    left: 40% !important;
}

.spaceBouton{
    display: inline-block;
    height: 35px;
    width: 70px;
    font-size: 40PX;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
    
}
/* changer la couleur et background color de body */
.color{
    color: rgb(6, 6, 56);
}
.background{
    background: linear-gradient(to left,  rgb(202, 6, 112) , white 70.71%);
}
.transparent{
    background-color: transparent;
}
.brandStyle{
    color: rgb(202, 6, 112);
    background-color: white !important;
}
.pink{
    color: rgb(202, 6, 112);
}
.menuStyle{
    color: rgb(202, 6, 112);
    background-color: white !important;
    border-bottom: 1px solid rgb(202, 6, 112);
}